@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;

/*
   ==== Burger ====
*/

.burger {
    display: none;
    background: transparent;
    z-index: 3;
    
    @media screen and (max-width: $burgerBreakpoint) {
        display: flex;
        position: relative;
        height: 20px;
        width: 30px;
 
        &.active {
            &:before {
                background: var(--burger-color);
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }
 
            &:after {
                background:  var(--burger-color);
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }
 
            & span {
                transform: scale(0);
            }
        }
 
        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: var(--burger-color);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
 
        &:before {
            top: 0;
        }
 
        &::after {
            bottom: 0;
        }
 
        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: var(--burger-color);
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }
 }