@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;
/*
   ==== Menu ====
*/
.menu {
  @media (max-width: $burgerBreakpoint) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: rem(72);
    left: 0;
    width: 100%;
    transition: all 0.3s;
    background-color: var(--white-co);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(8px);
    transition: all 0.3s ease;
    padding: rem(20) 0;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
    max-height: 80vh;
    overflow: auto;
    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }
  }

  // .menu__list
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @include adaptiveValue("column-gap", 24, 15);
    row-gap: rem(10);

    @media (max-width: $burgerBreakpoint) {
      flex-direction: column;
      row-gap: rem(15);
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    @media (max-width: $breakpoint768) {
      padding: 0 rem(10);
    }
  }

  // .menu__item
  &__item {
    @media (max-width: $burgerBreakpoint) {
      border-bottom: 1px solid;
    }
  }

  // .menu__link
  &__link {
    color: var(--body-co);
    font-size: rem(16);
    font-weight: var(--fw-medium);
    line-height: rem(24);
    transition: color 0.3s ease;

    @media (max-width: $burgerBreakpoint) {
      text-transform: uppercase;
      font-size: rem(18);
    }
    @media (hover: hover) {
      &:hover {
        color: var(--btn-cto);
      }
    }
  }
}
