@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;

// Menu
.menu {
  @media (max-width: $burgerBreakpoint) {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    transition: all 0.3s;

    &.active {
      left: 0;
    }
  }

  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-gap: rem(24);
    row-gap: rem(10);

    @media (max-width: $breakpoint992) {
      column-gap: rem(20);
    }
    @media (max-width: $burgerBreakpoint) {
      flex-direction: column;
      margin-top: rem(85);
      padding: 0 rem(20);
      row-gap: rem(15);
    }
  }

  // .menu__item
  &__item {
  }

  // .menu__link
  &__link {
    color: var(--body-co);
    font-size: rem(16);
    font-weight: var(--fw-medium);
    line-height: rem(24);

    @media (max-width: $burgerBreakpoint) {
    }
  }
}
