{{!-- Blog --}}
<section class="section blog">
    <div class="blog__container">
        <div class="section__text">
            <span class="section__top-text">Blog</span>
            <h2 class="section__title">Our fresh news</h2>
            <p class="section__sub-text">Our blog is more than just a collection of articles - it's a hub of ideas,
                inspiration, and thought-provoking discussions.</p>
        </div>
        <div class="blog__content">
            <div class="blog__latest">
                <div class="blog__card">
                    <a href="#" class="card">
                        <div class="card__img">
                            <img src="@img/blog/1.jpg" alt="img">
                        </div>
                        <div class="card__author">
                            <div class="author__img">
                                <img src="@img/blog/author.jpg" alt="img">
                            </div>
                            <div class="author__info">
                                <span class="author__name">Jenny Wilson</span>
                                <span class="author__created">May 9, 2023</span>
                            </div>
                        </div>
                        <div class="card__text">
                            <h4>Meet an web designer in his studio in Amsterdam</h4>
                            <p>We'll get to know the designer and their design philosophy, as well as take a look.</p>
                        </div>
                        <div class="card__categories">
                            <span class="category ui">UI/UX</span>
                            <span class="category studio">Studio</span>
                            <span class="category design">Web Design</span>
                        </div>
                    </a>
                </div>
                <div class="blog__card">
                    <a href="#" class="card">
                        <div class="card__img">
                            <img src="@img/blog/2.jpg" alt="img">
                        </div>

                        <div class="card__author">
                            <div class="author__img">
                                <img src="@img/blog/author.jpg" alt="img">
                            </div>
                            <div class="author__info">
                                <span class="author__name">Jenny Wilson</span>
                                <span class="author__created">May 9, 2023</span>
                            </div>
                        </div>
                        <div class="card__text">
                            <h4>The Evolution of UI/UX Design: From Skeuomorphism to Flat Design</h4>
                            <p>Discussing the shift from realistic designs to minimalistic, flat designs.</p>
                        </div>
                        <div class="card__categories">
                            <span class="category ui">UI/UX</span>
                            <span class="category studio">Studio</span>
                            <span class="category design">Web Design</span>
                        </div>
                    </a>
                </div>
                <div class="blog__card">
                    <a  href="#" class="card">
                        <div class="card__img">
                            <img src="@img/blog/3.jpg" alt="img">
                        </div>
                    </a>
                        <div class="card__author">
                            <div class="author__img">
                                <img src="@img/blog/author.jpg" alt="img">
                            </div>
                            <div class="author__info">
                                <span class="author__name">Jenny Wilson</span>
                                <span class="author__created">May 9, 2023</span>
                            </div>
                        </div>
                    <div class="card__text">
                        <h4>The Importance of User-Centered Design in IT Projects</h4>
                        <p>Exploring the significance of putting the user first in IT projects</p>
                    </div>
                    <div class="card__categories">
                        <span class="category ui">UI/UX</span>
                        <span class="category studio">Studio</span>
                        <span class="category design">Web Design</span>
                    </div>
                </div>
            </div>
            <div class="blog__link">
                <a href="#" class="btn btn-cta">Load more</a>
            </div>
        </div>
    </div>
</section>