{{!-- Clients --}}
<section class="section clients">
    <div class="clients__container">
        <div class="section__text">
             <h2 class="section__title">Our Clients</h2>
        </div>
        <ul class="clients__list">
            <li class="clients__item"><img src="@img/clients/1.png" alt="client-log"></li>
            <li class="clients__item"><img src="@img/clients/2.png" alt="client-log"></li>
            <li class="clients__item"><img src="@img/clients/3.png" alt="client-log"></li>
            <li class="clients__item"><img src="@img/clients/4.png" alt="client-log"></li>
            <li class="clients__item"><img src="@img/clients/5.png" alt="client-log"></li>
            <li class="clients__item"><img src="@img/clients/6.png" alt="client-log"></li>
            <li class="clients__item"><img src="@img/clients/7.png" alt="client-log"></li>
            <li class="clients__item"><img src="@img/clients/8.png" alt="client-log"></li>
        </ul>
    </div>
</section>