{{!-- Hero --}}
<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <div class="hero__text">
                <h1 class="hero__title">Everything you need to scale a <span>global team</span></h1>
                <p class="hero__subtext">Check out our proven methods, guides, and exercises that help make work better,
                    and people happier.</p>
            </div>
            <div class="hero__cto">
                <a href="#" class="btn btn-cta">Learn more</a>
                <a href="#" class="btn"><i class="bi bi-play"></i>Watch demo</a>
            </div>
            <div class="hero__reviews">
                <span>Trusted by over than 1M customers</span>
                <div class="hero__stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
            </div>
        </div>
        <div class="hero__images">
            <img src="@img/hero.jpg" alt="hero">
        </div>
    </div>
</section>