{{!-- Subscribe --}}
<section class="section subscribe">
    <div class="subscribe__container">
        <div class="subscribe__wrapper">
        <div class="section__text">
             <h2 class="section__title">Enter your e-mail address and get started for free</h2>
             <p class="section__sub-text">Stay up to date with the most relevant information, our new collections, news and special offers!</p>
        </div>
        <div class="subscribe__content">
            <form action="post" class="subscribe__form">
                <input type="email" placeholder="Your e-mail address">
                <button type="submit" class="btn btn-cta">Subscribe</button>
            </form>
        </div>
        </div>
    </div>
</section>