@use '../abstract/vars' as *;
@use '../abstract/mixins' as *;

/*
  ==== Utilities ====
*/

// Container
[class*="__container"] {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint768) {
    padding: 0 rem(10);
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 0;
  background-color: #00000071;
  transition: width 0.3s ease-out;

  @media screen and (max-width: $burgerBreakpoint) {
    &.active {
      width: 100vw;
      z-index: 0;
    }
  }
}
