/*
  ==== Colors ====
*/

:root {
  --white-co: #fff;
  --black-co:#000;
  --burger-color: var(--black-co);
  --burger-active-color: var(--white-co);

  --body-co:#344051;
   -co:#141C24;
  --top-heading-co:#0052CC;
  --btn-cto:#1A75FF;

}


