
/*
  ==== Colors ====
*/

:root {
  --white-co: #fff;
  --black-co:#000;
  --burger-color: var(--black-co);
  --burger-active-color: var(--black-co);
  
  --body-co:  #344051;
  --heading-co: #141C24;
  --top-heading-co: #0052CC;
  --btn-co: #1A75FF;

}


