<!-- Footer -->
<footer class="footer">
    <div class="footer__container">
        <div class="footer__main">
            <div class="footer__social">
                <a href="#" class="footer__social-logo"><img src="@img/logo.svg" alt="logo"></a>
                <p class="footer__social-text">We love working with ambitious people. Let's build something great
                    together now.</p>
                <div class="footer__social-icons">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
            <div class="footer__usefull-links">
                <ul class="usefull-links">
                    <li class="usefull-links__item">
                        <h6 class="usefull-links__item-heading">Product</h6>
                        <a href="#" class="usefull-links__item-link">Pricing</a>
                        <a href="#" class="usefull-links__item-link">Case Studies</a>
                        <a href="#" class="usefull-links__item-link">Features</a>
                        <a href="#" class="usefull-links__item-link">Reviews</a>
                        <a href="#" class="usefull-links__item-link">Updates</a>
                    </li>
                    <li class="usefull-links__item">
                        <h6 class="usefull-links__item-heading">Company</h6>
                        <a href="#" class="usefull-links__item-link">About</a>
                        <a href="#" class="usefull-links__item-link">Careers</a>
                        <a href="#" class="usefull-links__item-link">News</a>
                        <a href="#" class="usefull-links__item-link">Blog</a>
                        <a href="#" class="usefull-links__item-link">Contact</a>
                    </li>
                    <li class="usefull-links__item">
                        <h6 class="usefull-links__item-heading">Support</h6>
                        <a href="#" class="usefull-links__item-link">Help Center</a>
                        <a href="#" class="usefull-links__item-link">Status</a>
                        <a href="#" class="usefull-links__item-link">Report a Bug</a>
                        <a href="#" class="usefull-links__item-link">Chat Support</a>

                    </li>
                    <li class="usefull-links__item">
                        <h6 class="usefull-links__item-heading">Contact us</h6>
                        <a href="mailto:hello@whitespaceui.design" class="usefull-links__item-link"><i
                                class="bi bi-envelope"></i>hello@whitespaceui.design</a>
                        <a href="tel:hello@whitespaceui.design" class="usefull-links__item-link"><i
                                class="bi bi-telephone"></i>+1 (500) 300 250</a>
                        <a href="mailto:hello@whitespaceui.design" class="usefull-links__item-link"><i
                                class="bi bi-geo-alt"></i>3891 Ranchview Dr.
                            Richardson, CA 62639</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copy">
                <p><small>&copy; 2023 Whitespace UI - All rights reserved</small></p>
            </div>
            <ul class="footer__policy policy">
                <li class="policy__item"><a href="#" class="policy__link">Terms of Service</a></li>
                <li class="policy__item"><a href="#" class="policy__link">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>