<!-- Header -->
<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="#" class="logo">
                <img src="@img/logo.svg" alt="logo">
            </a>
        </div>
        <nav class="header__menu menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Features</a></li>
                <li class="menu__item"><a href="#" class="menu__link">About us</a></li>
                <li class="menu__item"><a href="#" class="menu__link">News</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
            </ul>
        </nav>
        <div class="header__action">
            <a href="#" class="btn btn-cta">Start now</a>
        </div>
        <div class="header__burger">
            <button class="burger">
                <span></span>
            </button>
        </div>
    </div>
</header>