<!DOCTYPE html>
<html lang="en">
 {{> _head}}
    <div class="wrapper">
        <body>
            {{> _header }}
            {{> _main }}
            {{> _footer }}
        </body>
    </div>
</html>